@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

html, body {
    background-color: #f3f3f3;
}
.logo {
    max-width: 40px;
    max-height: 40px;
}
.display, .option {
    color: rgb(54, 54, 54);
    font-weight: 700;
}
.btn {
    border: none !important;
    border-radius: 0px !important;
}
.form-control {
    border-radius: 4px;
    height: 68px;
    border: solid #e4e4e4 2px;
}
.checkmark {
    position: absolute;
    top: 2px;
    left: -2px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.title {
    color: black;
    font-family: 'Passion One', cursive;
}
label {
    font-weight: 800;
    color: #5f5f5f;
}
input,
textarea,
textarea::placeholder,
input::-webkit-input-placeholder {
    font-size: 20px !important;
    font-weight: 500 !important;
}
.btn {
    background-color: #ef145b !important;
    border-radius: 5px !important;
    font-weight: 500;
    color: #fbfbfb;
}
.lead {
    color: #dc3545;
}
.progress-bar, .lead {
    font-weight: bold;
}
.progress-bar {
    font-size: 1.06rem;
}